.content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 3rem auto;
    background-color: white;
    border-top: 16px solid #021BC3;
    border-radius: 16px;
    color: #001E5F;
    width: 70%;
}

.content-block.dark-scheme{
    color: white;
    border-top: 16px solid #021BC3;
    background-color: #242424;
}

.content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.content-row.has-image {
    justify-content: left;
}

.content-row.has-image.flipped{
    justify-content: right;
}

.content-row.no-image {
    justify-content: center;
}

.image-container {
    width: fit-content;
    padding: 20px;
    max-width: 40%
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    align-items: center;     
    justify-content: center;
    text-align: left;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 10px;
}

.text-container-flipped {
    align-items: center;     
    justify-content: center;
    text-align: right;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 20px;
}

.text-container h2 {
    font-size: 2rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.text-centered h2,
.text-centered p {
   text-align: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.big-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border: 1px solid #ccc;
  border-radius: 16px 16px 16px 16px;    
  background-color: rgb(6, 6, 6);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.big-button:hover {
  background-color: #00308f;
  color: white;
}

@media(max-width:768px) {
    .content-row {
        flex-direction:column;
    }

    .image-container {
        padding: .1rem;
    }

    .text-container, .text-container-flipped {
        padding: .1rem;
        line-height: 1.6rem;
    }

    .content-block {
        width: 90%;
    }

}