.content-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-right: 80px;
    margin-left: 80px;
}

.image-container {
    width: fit-content;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    align-items: center;     
    justify-content: center;
    text-align: left;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 20px;
}

.text-container-flipped {
    align-items: center;     
    justify-content: center;
    text-align: right;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 20px;
}

.text-container h2 {
    font-size: 2rem;
}