.content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 3rem auto;
    background-color: white;
    border-top: 16px solid #021BC3;
    border-radius: 16px;
    color: #001E5F;
    max-width: 1200px;
}

.content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.image-container {
    width: fit-content;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    align-items: center;     
    justify-content: center;
    text-align: left;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 10px;
}

.text-container-flipped {
    align-items: center;     
    justify-content: center;
    text-align: right;
    font-size: 1rem;
    flex-direction: column;
    gap: .3rem;
    padding: 20px;
}

.text-container h2 {
    font-size: 2rem;
}

.text-centered h2,
.text-centered p {
   text-align: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}