.news-block {
    width: 90%;               
    margin: 3rem auto;        

    padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 16px solid #021BC3;
    border-radius: 16px;
    background-color: white;

    color: #001E5F;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 2rem;
    font-size: 120%
}

.news-article{
    text-align: center;
    padding: 1rem;
    border: .1rem solid #001E5F;
    border-radius: 16px;
    max-width: 20rem;
}

.news-button{
    background-color: #001E5F;
    color: white;
    border: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    transition: opacity 0.2s ease;
}

.news-button:hover {
    opacity: 0.9;
    color:white;
}