.content-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.image-container {
    width: fit-content;
    padding: 20px;
    background-color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    align-items: center;     
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    flex-direction: column;
    gap: .3rem;
    background-color: green;
    padding: 20px;
}