.page-container {
  position: relative;
  min-height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}