body.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: auto;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease;
  z-index: 1000;
}

.popup-overlay.show {
    background: rgba(0, 0, 0, 0.6)
}

.popup-content {
  background: white;
  padding: 2rem;
  max-width: 400px;
  width: 90%;
  border-radius: 8px;
  position: relative;
  text-align: center;
  color: black;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}

.popup-content.show{
    transform: scale(1);
    opacity: 1;
}

.h2-no-margin {
  margin-bottom : 0rem;
  margin-top: 0rem;
  
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 14px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--ur-navy);
}

.popup-image {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.popup-content h4 {
  margin-top: .4rem;
  margin-bottom: .4rem;
}

.popup-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.linkedin {
    color: #0077B5;
    font-size: 2rem;
}

.email {
  color: black;
  font-size: 2rem;
}

@media(max-width:768px){
    .popup-overlay.show{
        background: rgba(0, 0, 0, 0)
    }

    .popup-content{
        transform: scale(1);
    }
    .popup-content.show{
        opacity: 0;
    }
}