.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease;
  z-index: 1000;
}

.popup-overlay.show {
    background: rgba(0, 0, 0, 0.6)
}

.popup-content {
  background: white;
  padding: 2rem;
  max-width: 400px;
  width: 90%;
  border-radius: 8px;
  position: relative;
  text-align: center;

  transform: scale(0.9);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}

.popup-content.show{
    transform: scale(1);
    opacity: 1;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-image {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
