.results-block {
    width: 70%;               
    margin: 3rem auto;        

    padding: 0rem 0rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 16px solid #021BC3;
    border-radius: 16px;
    background-color: white;

    color: #001E5F;
}

.results-image-container{
    width: 50%;
    padding: .5rem
}

.results-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.results-text-container{
    text-align: center;
    height:100%;
    width: 50%;
}

.comp-results-container{
    margin: 0rem;
    padding:0rem;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 2.4rem;
}

.comp-results-locations{
    text-align: left;
}

.comp-results-places{
    text-align: right;
}

.no-margin, .comp-results-container p{
    margin:0rem;
}

.build-name{
    margin:0.5rem;
}
